body{
    background-image: url(images/fondopago.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@font-face {
    font-family: 'Exo2 ExtraLight';
    src: url(fonts/Exo2-ExtraLight.ttf);
    font-size: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Exo2 Thin Italic';
    src: url(fonts/Exo2-ThinItalic.ttf);
    font-size: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Exo2 Semibold';
    src: url(fonts/Exo2-SemiBold.ttf);
    font-size: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Exo2 Bold';
    src: url(fonts/Exo2-Bold.ttf);
    font-size: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Exo2 Regular 400';
    src: url(fonts/Exo2-Regular.ttf);
    font-size: normal;
    font-weight: normal;
}
.logo-blanco{
    width: 100px;
    filter: invert(100%);
}
.atras{
    display: flex;
    justify-content: left;
}
.volver{
    font-family: 'Exo2 Thin Italic';
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: text-decoration 0.7s;
    transition-property: transform;
    transition-duration: 0.7s;
}
.volver:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition-duration:1s ;
}
.cont-titulo{
    text-align: center;
}
.cont-titulo h1{
    font-family: 'Exo2 ExtraLight';
    color: #fff;
    font-size: 50px;
    margin: 0;
    padding-bottom: 60px;
    padding-top: 40px;
}
.caja-datos{
    background-image: url(images/fondopago2.jpg);
    background-position: cover;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0,0,0.1);
    position: relative;
    margin-left: 200px;
    width: 40%;
    z-index: 2;
}
.caja-datos h1{
    font-family: 'Exo2 SemiBold';
    font-size: 35px;
    margin: 0;
    padding-bottom: 30px;
    color: #fff;
}
.caja-datos label{
    font-family: 'Exo2 Regular 400';
    font-size: 23px;
    margin-bottom: 5px;
    color:#fff;
}
.caja-datos input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    color: #fff;
}
.caja-datos input:focus{
    border-bottom: 2px solid #fff;
}
.caja-datos input::placeholder{
    color: #fff;
}
.CVV{
    width: 10%;
}
.cajadatos2{
    background-color: rgb(1, 2, 4);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0,0,0.1);
    position: relative;
    width: 60%;
    margin-left: 600px;
    margin-bottom: 50px;
    height: 200px;
    text-align: right;
    align-items: right;
    z-index: 1;
    transform: translate(-50px,-140px);
}
.cajadatos2 h1{
    font-family: 'Exo2 Semibold';
    font-size: 30px;
    padding: 0;
    color: #fff;
    text-align: right;
}
.cajadatos2 button{
    background-image: url(images/fondoboton.jpg);
    background-position: cover;
    background-attachment: fixed;
    font-family: 'Exo2 Semibold';
    font-size: 23px;
    color: #000;
    margin-right: 90px;
    border-radius: 10px;
    transition: transform 0.4s;
}
.cajadatos2 button:hover{
    transform: scale(1.05) ;
}
.footer {
    color: transparent;
    text-align: center;
    padding: 10px 0;
}
@media(max-width:1500px){
    .cajadatos2 h1{
        font-size: 25px;
    }
}
@media(max-width:950px){
    .cajadatos2{
        margin-left: 325px;
        transform: translate(-80px,30px);
    }
    .caja-datos{
        margin-left: 100px;
    }
}
@media(max-width:785px){
    .cajadatos2 button{
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .cajadatos2 h1{
        font-size: 23px;
    }
}
@media(max-width:501px){
    .caja-datos{
        width: 90%;
        margin-left: 5px;
    }
    .CVV{
        width: 15%;
    }
    .cajadatos2{
        width: 90%;
        margin-left: 5px;
        transform: translate(0px,0px);
        margin-top: 30px;
        margin-bottom: 0;
        height: 200px;
        text-align: center;
        align-items: center;
        padding: 20px;
    }
    .cajadatos2 h1{
        margin-top: 0;
    }
}
@media(max-width:340px){
    .caja-datos{
        margin-left: 0;
    }
    .cajadatos2{
        margin-left: 0;
        height: 240px;
    }
}